<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ATM1</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>

  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.jwr.atm.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.jwr.atm.web.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.do</url-pattern>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
<!--
  &lt;!&ndash;账户控制器&ndash;&gt;
  <servlet>
    <servlet-name>AccountController</servlet-name>
    <servlet-class>com.jwr.atm.settings.web.controller.AccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountController</servlet-name>
    <url-pattern>/settings/account/login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountController</servlet-name>
    <url-pattern>/settings/account/search.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountController</servlet-name>
    <url-pattern>/settings/account/save.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountController</servlet-name>
    <url-pattern>/settings/account/draw.do</url-pattern>
  </servlet-mapping>-->
  
  
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>
      org.springframework.web.servlet.DispatcherServlet
    </servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:springmvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
</web-app>
































